:root {
    --nc-font-sans: "Courier New", monospace;
    --nc-font-mono: "Courier New", monospace;
    --nc-tx-1: #ffffff;
    --nc-tx-2: #a3a5aa;
    --nc-bg-1: #262626;
    --nc-bg-2: #111111;
    --nc-bg-3: #232323;
    --nc-lk-1: #e9b9a5;
    --nc-lk-2: #5e4c44;
    --nc-lk-tx: #5e4c44;
    --nc-ac-1: #646970;
    --nc-ac-tx: #646970;
    --nc-d-tx-1: #a3a5aa;
    --nc-d-tx-2: #a3a5aa;
    --nc-d-bg-1: #262626;
    --nc-d-bg-2: #222222;
    --nc-d-bg-3: #232323;
    --nc-d-lk-1: #a57562;
    --nc-d-lk-2: #5e4c44;
    --nc-d-lk-tx: #5e4c44;
    --nc-d-ac-1: #646970;
    --nc-d-ac-tx: #646970;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul,
li {
    margin: auto;
    padding: 8px;
}
body {
    font-size: 1rem;
}
